body {
  padding: 50px;

  background-color: black;
  background-size: cover;
  font-family: 'Ubuntu Mono', monospace;
}
#app {
  
}

h1 {
  display: flex;
  justify-content: center;
  font-family: 'Ubuntu Mono', monospace;
 color: white;
             
}

.date {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  color: rgb(196, 226, 23);
 
}
