
.todoListMain .header input {
    padding: 10px;
    font-size: 16px;
    font-family: 'Ubuntu Mono', monospace;
    border: 3 px solid #FFF;
    width: 165px;
    border-radius: 5px;
  }
  .todoListMain .header button {
  
    padding: 10px;
    font-size: 16px;
    font-family: 'Ubuntu Mono', monospace;
    margin: 10px;
    margin-right: 0px;
    border-radius: 5px;
    background-color: rgb(255, 30, 0);
    color: #FFF;
    border: 2px solid rgb(255, 30, 0);
    
  }
  .todoListMain .header button:hover {
    background-color: #ffffff9f;
    border-color: #000000;
    cursor: pointer;
  }
  .todoListMain .theList {
    list-style-type: none;
    /*list-style-position: inside;*/
    padding-left: 0;
    width: 250px;
    
    
    
  } 

 
  .todoListMain .theList li {
    color: rgb(16, 180, 57);
    font-size: 20px;
    font-family: 'Ubuntu Mono', monospace;
    border-color: #FFF;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color .2s ease-out;
    
  }
  ul {
	position: relative;
	list-style: none;
	margin-left: 0;
  padding-left: 1.2em;
  
}
ul li:before {
    content: ">";
    text-align: center;
    color: #FFF;
	position: absolute;
	left: 0;
}

  
  .todoListMain .theList li:hover {
    background-color: rgba(255, 0, 0, 0.384);
        cursor: pointer;
  }
  ul.theList {
    padding: 0;
    
  }

  .done {
    text-decoration: line-through;
  }


  .Navbar-ul {
    
    list-style-type: none;
    margin-left: 40%;
    margin-right: 40%;
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
    background-color: #333;
  }
  
  .Navbar-li {
   float: left;
   box-sizing: 50%;
   width: 50%;
   
  
  }
  
  .Navbar-a {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Ubuntu Mono', monospace;
  }
  .Navbar-ul li:before {
    content: none;
  }
  .Navbar-li a:hover:not(.active) {
    background-color: #111;
  }
  
  .Navbar-active {
    background-color:rgb(16, 180, 57);
  }  

  .logOutButton {
    position:fixed;
   right:10px;
   top:5px;
    background-color:red;
    border: none;
    color:  #FFF;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-style: 'Ubuntu Mono', monospace;
    margin: 4px 2px;
    
  }

  .logInButton {
    position:fixed;
   right:10px;
   top:5px;
    background-color:green;
    border: none;
    color:  #FFF;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-style: 'Ubuntu Mono', monospace;
    margin: 4px 2px;
    
  }

  .log button:hover{
    background-color: grey;
    cursor: pointer;
  }

  .img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
 
  }



